*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: "HebarExtraLight-Normal", sans-serif;
  min-width: 320px;
  background-color: #ffeab3;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
