*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: "HebarExtraLight-Normal", sans-serif;
  min-width: 320px;
  background-color: #ffeab3;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.1s linear;
  box-shadow: 1px 1.5px 0px rgba(#252525, 0.6);
  &:active {
    box-shadow: 0.66px 1.06px 0px rgba(#252525, 0.6);
  }
  &--primary {
    background-color: $red_color;
    color: #fff;
    font-weight: 100;
    &:hover {
      background-color: rgba($red_color, 0.8);
    }
    @media screen and (min-width: $desktop-width) {
      font-size: 18px;
    }
  }
  &--white {
    background-color: #fff;
    color: #313131;
    &:hover {
      background-color: rgba(#fff, 0.5);
    }
  }
  &--yellow {
    background-color: #ffcb86;
    &:hover {
      background-color: rgba(#ffcb86, 0.8);
    }
  }
  &--small {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  &--medium {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &--large {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work {
  &__left {
    align-self: center;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 3.76px 0.24px rgba(#252525, 0.35);
    padding: 20px 10px 15px;
    display: grid;
    gap: 10px;
    @media screen and (min-width: $tablet-width) {
      grid-template-rows: min-content min-content 1fr min-content;
      padding: 20px 30px;
      border-radius: 30px;
    }
  }
  &__right {
    align-self: center;
  }
  &__title {
    color: #252525;
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  }
  &__categories {
    color: #252525;
    list-style: none;
  }
  &__category {
    list-style: none;
  }
  &__img {
    &--circle {
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
    }
    &--mobile {
      justify-self: center;
      @media screen and (min-width: $tablet-width) {
        display: none;
      }
    }
    &--tablet {
      @media screen and (max-width: $tablet-width) {
        display: none;
      }
    }
  }
  &__description {
    display: none;
    @media screen and (min-width: $tablet-width) {
      display: block;
      position: relative;
      padding-left: 15px;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        background-color: $red_color;
        width: 5px;
        border-radius: 10px;
        left: 0;
        @media screen and (min-width: $tablet-width) {
          width: 7px;
        }
      }
      p {
        font-size: 15px;
      }
    }
  }
  &__button {
    justify-self: end;
  }
}

.form {
  display: grid;
  gap: 15px;
  @media screen and (min-width: $tablet-width) {
    gap: 10px;
  }
  &__group {
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
    display: grid;
    gap: 2px;
  }
  &__subgroup {
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
  }
  &__label {
    color: #fff;
    font-size: 14px;
    text-shadow: 0px 0px 2px #252525;
    margin-left: 5%;
  }
  &__text {
    box-shadow: 0px 2px 2.67px 0.33px rgba(#252525, 0.2);
    border: none;
    outline: none;
    max-width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    &::placeholder {
      color: #b9b8b8;
    }
    &--large {
      min-height: 200px;
    }
  }
  &__button {
    @media screen and (min-width: $small-mobile-width) {
      justify-self: center;
    }
  }
  &__agree {
    font-size: 10px;
    color: #fff;
  }
}

.skeleton-loading {
  &::after {
    background-color: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0));
  }
}
