*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  font-family: "HebarExtraLight-Normal", sans-serif;
  min-width: 320px;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

body::-webkit-scrollbar-track {
  background: rgb(247, 247, 247);
}

body::-webkit-scrollbar-thumb {
  min-height: 20px;
  border: solid transparent;
  border-width: 1px 3px;
  border-radius: 6px;
  background-clip: content-box;
  box-shadow: inset 0 0 0 10px rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar-thumb:hover {
  border-width: 1px 2px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
}

details[open] summary ~ * {
  animation: open 0.3s linear;
}

@keyframes open {
  0% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0);
  }
}
details summary::-webkit-details-marker {
  display: none;
}

.skeleton-loading {
  &::after {
    background-color: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0));
  }
}

.work {
  &__left {
    align-self: center;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px 10px 15px;
    display: grid;
    gap: 10px;
    @media screen and (min-width: $tablet-width) {
      grid-template-rows: min-content min-content 1fr min-content;
      padding: 20px 30px;
      border-radius: 30px;
    }
  }
  &__right {
    justify-self: center;
    align-self: center;
  }
  &__title {
    color: #252525;
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  }
  &__categories {
    color: #252525;
    list-style: none;
  }
  &__category {
    list-style: none;
  }
  &__img {
    &--circle {
      border-radius: 50%;
      img {
        border-radius: 50%;
      }
    }
    &--mobile {
      justify-self: center;
      @media screen and (min-width: $tablet-width) {
        display: none;
      }
    }
    &--tablet {
      @media screen and (max-width: $tablet-width) {
        display: none;
      }
    }
  }
  &__technologies {
    display: grid;
    padding: 40px;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(#424242, 0.7);
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 15px;
    visibility: hidden;
    opacity: 0;
    &-item {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      text-decoration: none;
      display: grid;
      row-gap: 5px;
      justify-items: center;
      p {
        color: #fff;
        font-size: 14px;
      }
    }
    &-logo {
      width: 40px;
      height: 40px;
    }
  }
  &__description {
    display: none;
    @media screen and (min-width: $tablet-width) {
      display: block;
      position: relative;
      padding-left: 15px;
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        background-color: var(--main_color);
        width: 5px;
        border-radius: 10px;
        left: 0;
        @media screen and (min-width: $tablet-width) {
          width: 7px;
        }
      }
      p {
        font-size: 15px;
      }
    }
  }
  &__button {
    justify-self: end;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@keyframes Fade {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.enter {
  animation-duration: 0.65s;
  animation-fill-mode: both;
  animation-name: Fade;
}
