.other {
  @include background-with-shadow(#00cccc);
  min-width: 200px;
  padding: 30px 20px;
  display: grid;
  row-gap: 20px;
  &__title {
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
    color: #fff;
  }
  &__list {
    list-style: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
  }
  &__item {
    background-color: #f2f3f4;
    border-radius: 30px;
    padding: 5px 15px;
    transition: 0.1s linear;
    &:hover {
      background-color: rgba(#f2f3f4, 0.9);
    }
  }
  &__link {
    color: #282828;
    text-decoration: none;
    font-size: 15px;
  }
}
