.other {
  @include background-with-shadow(#00cccc);
  min-width: 200px;
  padding: 30px 20px;
  display: grid;
  row-gap: 20px;
  &__title {
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
    color: #fff;
  }
  &__links {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(152px, 152px));
  }
}
