.service {
  @media screen and (min-width: $mobile-width) {
    display: grid;
    grid-template-columns: 0.65fr 1.3fr;
    column-gap: 20px;
  }
  @media screen and (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 0.55fr 1.4fr;
    column-gap: 20px;
  }
  @media screen and (min-width: $desktop-width) {
    column-gap: 30px;
    grid-template-columns: 0.6fr 1.4fr;
  }
  &__name {
    display: none;
    @media screen and (min-width: $mobile-width) {
      height: 190px;
      display: grid;
      grid-template-rows: min-content 1fr;
      border-radius: 25px;
      padding-top: 20px;
      padding-bottom: 50px;
      padding-left: 20px;
      padding-right: 25px;
      color: #fff;
      .service__number {
        font-size: 55px;
      }
      .service__title {
        padding-top: 9px;
        font-weight: 200;
        line-height: 0.8;
        padding-left: 5px;
        font-size: 25px;
        align-self: center;
        word-break: break-word;
      }
    }
    @media screen and (min-width: $tablet-width) {
      min-height: 200px;
      padding-right: 30px;
      .service__number {
        font-size: 60px;
      }
      .service__title {
        font-size: 27px;
      }
    }
    @media screen and (min-width: $desktop-width) {
      border-radius: 35px;
      padding-bottom: 70px;
      min-height: 225px;
      .service__number {
        font-size: 80px;
      }
      .service__title {
        padding-left: 15px;
        font-size: 32px;
        padding-top: 0;
      }
    }
  }
  &__description {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 17px;
    border-radius: 25px;
    // background-image: url("~@/assets/img/browser.png");
    // background-repeat: no-repeat;
    // background-position-x: 95%;
    // background-size: 50%;
    min-height: 164px;
    position: relative;
    @media screen and (min-width: $mobile-width) {
      align-self: center;
    }
    @media screen and (min-width: $tablet-width) {
      padding-top: 20px;
      padding-bottom: 17px;
      padding-left: 30px;
      padding-right: 25px;
    }
    @media screen and (min-width: $desktop-width) {
      border-radius: 35px;
      padding-left: 40px;
      padding-right: 30px;
    }
    &-img {
      z-index: 6;
      opacity: 0.3;
      position: absolute;
      top: 0;
      right: 16px;
      width: 160px;
      img {
        width: 100%;
      }
    }
    &-title {
      z-index: 7;
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      color: #2a2a2a;
      font-size: 19px;
      @media screen and (min-width: $tablet-width) {
        font-size: 22px;
      }
    }
    &-text {
      z-index: 7;
      margin-top: 4px;
      color: #131313;
      font-size: 13px;
      line-height: 1.4;

      @media screen and (min-width: $small-mobile-width) {
        width: 80%;
        line-height: 1.6;
      }
      @media screen and (min-width: $mobile-width) {
        line-height: 1;
        font-size: 14px;
        width: 85%;
        align-self: center;
      }
      @media screen and (min-width: $tablet-width) {
        align-self: stretch;
        line-height: 1.3;
        width: 80%;
      }
      @media screen and (min-width: $desktop-width) {
        margin-top: 8px;
        width: 78%;
        font-size: 15px;
      }
    }
    &-button {
      z-index: 7;
      margin-top: 8px;
      justify-self: end;
    }
  }
  &--custom {
    &:nth-child(odd) {
      margin-left: 10%;
    }
    &:nth-child(even) {
      margin-right: 10%;
    }
    & + .service--custom {
      margin-top: 5%;
    }
    column-gap: 0;
    .service__name {
      font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
      grid-template-rows: auto;
    }
    .service__description {
      grid-template-rows: 1fr min-content;
      background-image: none;
      &-text {
        font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
        align-self: center;
      }
    }
  }
}
