.our-portfolio {
  &__title {
    font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5%;
    color: #252525;
  }
  &__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  &__work {
    min-height: 230px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3.76px 0.24px rgba(#252525, 0.35);
    display: grid;
    grid-template-columns: 1.8fr 1.5fr;
    padding: 15px;
    row-gap: 15px;
    @media screen and (min-width: $mobile-width) {
      grid-template-columns: 1.4fr 1.5fr;
    }
    @media screen and (min-width: $tablet-width) {
      column-gap: 18px;
      padding: 20px;
    }
  }
  &__name {
    grid-row: span 1;
    grid-column: span 2;
    text-align: center;
    font-size: 18px;
    align-self: end;
    @media screen and (min-width: $tablet-width) {
      text-align: left;
      grid-row: inherit;
      grid-column: inherit;
    }
  }
  &__categories {
    grid-column: span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 3px;
    @media screen and (min-width: $tablet-width) {
      grid-row: inherit;
      grid-column: inherit;
      justify-items: start;
    }
  }
  &__category {
    font-size: 13px;
    display: none;
    @media screen and (min-width: $mobile-width) {
      font-size: 12px;
    }
    @media screen and (min-width: $tablet-width) {
      display: block;
      font-size: 13px;
    }
  }
  &__button {
    grid-column: 2;
    grid-row: 3;
    align-self: end;
    @media screen and (min-width: $tablet-width) {
      grid-row: inherit;
      grid-column: inherit;
    }
  }
  &__img {
    grid-row: 2;
    grid-column: span 2;
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 200px;
    border: 1px solid #e5e5e5;
    img {
      height: 100%;
    }
    @media screen and (min-width: $tablet-width) {
      grid-column: span 1;
      grid-row: span 3;
    }
  }
}
