.description-image {
  display: grid;
  p {
    color: #313131;
    font-size: 14px;
    @media screen and (min-width: $small-mobile-width) {
      font-size: 17px;
    }
    @media screen and (min-width: $tablet-width) {
      font-size: 18px;
    }
    @media screen and (min-width: $desktop-width) {
      font-size: 20px;
    }
  }
  img {
    box-shadow: 0px 2px 3.76px 0.24px rgba(37, 37, 37, 0.35);
    border-radius: 30px;
  }
  &--column {
    gap: 3%;
    @media screen and (min-width: $mobile-width) {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    padding: 2%;
    img {
      justify-self: center;
      align-self: center;
    }
  }
  &--reverse {
    grid-auto-flow: dense;
    direction: rtl;
    p {
      text-align: left;
    }
  }
  &--row {
    justify-items: center;
    img {
      border-radius: 15px;
      width: 70%;
      box-shadow: 0px 2px 3.76px 0.24px rgba(#252525, 0.35);
    }
    p {
      margin-top: 2%;
      text-align: right;
      @media screen and (min-width: $mobile-width) {
        margin-left: 15%;
      }
    }
  }
}
