.hashtag-logo {
  font-family: "Chalet-NewYorkNineteenEighty", sans-serif;
  display: grid;
  justify-items: center;
  &__title {
    grid-column: span 2;
    font-size: 35px;
    -webkit-text-stroke: 1px #2b2b2b;
    font-weight: 100;
    color: transparent;
    span {
      color: #2b2b2b;
    }
    @media screen and (min-width: $small-mobile-width) {
      font-size: 45px;
    }
    @media screen and (min-width: $mobile-width) {
      font-size: 50px;
    }
    @media screen and (min-width: $tablet-width) {
      font-size: 55px;
    }
    @media screen and (min-width: $desktop-width) {
      font-size: 60px;
    }
  }
  &__description {
    justify-self: start;
    grid-row: 2;
    grid-column: 2;
    padding: 3px 15px;
    border-radius: 20px;
    background-color: #48b08d;
    @media screen and (min-width: $tablet-width) {
      padding: 3px 30px;
    }
    p {
      color: #fff;
      font-size: 14px;
      @media screen and (min-width: $small-mobile-width) {
        font-size: 17px;
      }
      @media screen and (min-width: $mobile-width) {
        font-size: 20px;
      }
      @media screen and (min-width: $tablet-width) {
        font-size: 23px;
      }
      @media screen and (min-width: $desktop-width) {
        font-size: 26px;
      }
    }
  }
}
